<h1>
	Most Recent Pictures (<%= @most_recent_pictures.length %>)
</h1>

<%= link_to "New Picture", "/pictures/new" %>

<!-- For each item in the pictures database, 
display the picture title and picture artist
and display the photo via helper tag called image_tag with picture's URL -->

<% @most_recent_pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>

<h1>
	Month Old Pictures (<%= @month_old_pictures.count %>)
</h1>
<% @month_old_pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>