<h1>Pictures (<%= @pictures.length %>)</h1>

<%= link_to "New Picture", "/pictures/new" %>

<!-- For each item in the pictures database, 
display the picture title and picture artist
and display the photo via helper tag called image_tag with picture's URL -->

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>